:root {
  --color-bg-light: #f8f8f8;
  --color-bg-dark: #080808;
  --color-bg-danger: #cc1111;
  --color-bg-card: #d6d3d3;
  --color-bg-button: #969494;
  --color-text-light: #ebe6e6;
  --color-text-dark: #0a0a0a;
  --color-price: #ff5722;
  --border-radius: 10px;
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --padding: 1rem;
  --padding-small: 0.5rem;
  --padding-large: 1.5rem;
  --font-size-large: 2.5rem;
  --font-size-medium: 1.75rem;
  --font-size-small: 0.875rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  background-color: var(--color-bg-light);
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  width: 100%;
}

header,
footer {
  width: 100%;
}

nav {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  min-height: 80px;
  max-height: 80px;
  padding: 0 var(--padding);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  font-size: var(--font-size-small);
}

.logo {
  margin-left: 40px;
  width: auto;
}

.logo img {
  width: 150px;
  height: auto;
  filter: invert(1);
  left: 10%;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  min-width: 350px;
}

nav ul li {
  margin-left: var(--padding-large);
}

nav ul li a {
  text-decoration: none;
  color: var(--color-text-light);
  font-size: var(--font-size-small);
}

nav input {
  font-size: var(--font-size-small);
  padding: var(--padding-small);
  margin-right: 40px;
  font-style: italic;
}

.headerTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
  width: 70%;
  color: var(--color-text-light);
  font-weight: bold;
  text-transform: uppercase;
}

.headerTextContainer h1,
.headerTextContainer h2,
.headerTextContainer p {
  margin: 0 10px;
  text-align: center;
}

.headerTextContainer li {
  list-style: none;
  align-items: center;
  justify-content: center;
}

.headerTextContainer a {
  color: var(--color-text-light);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.headerTextContainer a:hover {
  color: var(--color-bg-danger);
}

.sidebarClass {
  width: 100%;
  position: sticky;
  background-color: var(--color-bg-dark);
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 2rem;
}

.sidebarClass button:hover {
  background-color: #333;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: var(--padding);
  gap: var(--padding-small);
  font-size: var(--font-size-small);
}

.filtersContainer.visible {
  min-height: 350px;
}

.filtersContainer.hidden {
  display: none;
}

select,
input {
  padding: 10px;
  font-size: larger;
  background-color: #555353d8;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  color: white;
}

select,
button {
  display: inline-block;
  width: auto;
  margin: 5px;
  padding: 15px 20px;
  font-size: 4rem;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

select:hover,
button:hover {
  background-color: #333;
}

aside .sidebarClass {
  background-color: var(--color-bg-dark);
  position: fixed;
  top: 0;
  left: -100%;
  height: 60px;
  width: 100%;
  background-color: var(--color-bg-dark);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2000;
  transition: transform 0.3s ease-in-out;
}

aside.visible {
  transform: translateX(0);
}

#modalArrow {
  position: absolute;
  top: calc(100% + 0.5rem);
  transform: translateX(-50%);
  z-index: 1001;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 5px;
  font-size: 0.75rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#modalArrow:hover {
  background-color: var(--color-bg-light);
  color: white;
}

/* #modalArrow {
  position: relative;
  height: 50px;
  width: 50px;
  top: 100%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 3001;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 10px;
  font-size: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#modalArrow:hover {
  background-color: #333;
  color: white;
} */

.bannerSectionClass img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.productContainerClass {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--padding-large);
  padding: var(--padding-large);
  margin: 0 auto;
  width: 100%;
}

.card {
  background: linear-gradient(180deg, #ffffff, #969494, #ffffff);
  box-shadow: var(--box-shadow);
  text-align: center;
  border-radius: var(--border-radius);
  padding: var(--padding-large);
  min-height: 500px;
  font-size: var(--font-size-medium);
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: var(--padding-small);
}

.cardTextContainer {
  padding: 20px;
  margin: 10px;
}

.card-title {
  font-size: var(--font-size-small);
  margin-bottom: var(--padding-small);
}

.card-price {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--color-price);
  margin-bottom: var(--padding-small);
}

.card-button {
  font-size: var(--font-size-small);
  padding: var(--padding-small) var(--padding);
  margin-top: var(--padding-small);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-button);
  color: var(--color-text-light);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.cardTextContainer {
  margin: 20px;
}

.card-title {
  margin-bottom: 10px;
}

.titleCardContainer {
  margin-bottom: 15px;
}

.card-colour,
.card-price {
  margin-bottom: 5px;
  font-size: larger;
  font-weight: 400;
}
.card-colour {
  margin-right: 20px;
  font-style: italic;
}

.card-price {
  margin-left: 20px;
}
.card-button {
  margin-top: 10px;
}
footer {
  background-color: black;
  color: white;
  padding: calc(var(--padding-large) * 2);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: var(--font-size-small);
  font-weight: 300;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: var(--padding-small);
  font-size: var(--font-size-small);
  font-style: italic;
}

.noResultsMessage {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-medium);
  font-style: italic;
  margin: 2rem 0;
}

button:hover {
  background-color: #333;
}

.headerTextContainer {
  font-size: 2.5rem;
}

.headerTextContainer h1,
.headerTextContainer h2,
.headerTextContainer p {
  font-size: 2.5rem;
}

nav ul li a {
  font-size: 2rem;
}

nav input {
  font-size: 1.5rem;
  padding: 15px;
}

.filtersContainer {
  font-size: 1.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filtersContainer select,
.filtersContainer input,
.filtersContainer button {
  font-size: 1rem;
}

@media (max-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-around;
    min-height: 120px;
    max-height: 120px;
    padding: 0;
  }

  nav .logo {
    display: block;
    margin-left: 10px;
  }

  nav .logo img {
    width: 100px;
    height: auto;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .bar {
    width: 35px;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.3s ease;
    padding: 0;
    margin: 0;
  }

  .headerInput,
  .hamburger ul {
    display: none;
  }

  .headerTextContainer {
    display: none;
  }

  .hidden {
    display: none;
  }

  #modalArrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    cursor: pointer;
  }

  aside.visible {
    transform: translateX(100%);
  }
  .sidebarClass {
    display: block;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -50%;
    background-color: transparent;
  }
  .productContainerClass {
    grid-template-columns: 1fr;
  }

  .card {
    min-height: 300px;
  }

  .headerTextContainer {
    font-size: 2rem;
  }

  .headerTextContainer h1,
  .headerTextContainer h2,
  .headerTextContainer p {
    font-size: 2rem;
  }

  nav ul li a {
    font-size: var(--font-size-small);
  }

  nav input {
    font-size: var(--font-size-small);
    padding: var(--padding-small);
  }

  #modalArrow img {
    width: 40px;
    height: 40px;
  }
  #modalArrow {
    position: absolute; /* Fija la modal arrow en la pantalla */
    top: 50%; /* Centra verticalmente */
    left: 100%; /* Centra horizontalmente */
    z-index: 3001; /* Asegura que esté por encima de otros elementos */
    background-color: white;
    color: black;
    border-radius: 50%; /* Botón circular */
    padding: 8px;
    transform: rotate(-90deg); /* Rotación de 45 grados */
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  #modalArrow:hover {
    background-color: #333;
    color: white;
  }

  .filtersContainer {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(90, 89, 89, 0.877);
    z-index: 99999;
    transition: transform 0.3s ease-in-out;
  }

  .filtersContainer.visible {
    transform: translateX(0);
  }

  .filtersContainer select,
  .filtersContainer input,
  .filtersContainer button {
    width: 100px;
    font-size: var(--font-size-small);
    padding: var(--padding-small);
  }
  .filtersContainer.hidden + #modalArrow {
    left: calc(0% + 5px);
  }
}
